<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Room Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content fullscreen>
    <form [formGroup]="updateRoomForm" (ngSubmit)="updateForm()" method="post">
     <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="floating"><h1><ion-icon name="newspaper-outline" color="danger"></ion-icon> Block Name</h1></ion-label>
        <ion-input formControlName="block" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"><h1><ion-icon name="logo-linkedin" color="danger"></ion-icon> Room Number</h1></ion-label>
        <ion-input formControlName="roomno" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"><h1><ion-icon name="help-outline" color="danger"></ion-icon> Room Type</h1></ion-label>
        <ion-select placeholder="Select Room Type" required formControlName="roomtype">
          <ion-select-option value="Single">Single</ion-select-option>
          <ion-select-option value="Double">Double</ion-select-option>
          <ion-select-option value="Single(Bathroom)">Single(Bathroom)</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating"><h1><ion-icon name="logo-usd" color="danger"></ion-icon> Rental(RM per day)</h1></ion-label>
        <ion-select placeholder="Select Room Type" required formControlName="rentalrate">
          <ion-select-option value="4">4</ion-select-option>
          <ion-select-option value="6">6</ion-select-option>
          <ion-select-option value="8">8</ion-select-option>
        </ion-select>
      </ion-item>
      

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" shape="round" expand="block">Submit</ion-button>
        </ion-col>
      </ion-row>
     </ion-list>
    </form>

    <ion-footer class="ion-no-border">
      <ion-toolbar>
        <ion-title color="danger">#utmawesome</ion-title>
      </ion-toolbar>
    </ion-footer>
  
</ion-content>
